#main-remeras .div1, .div1 {
  height: 100px;
  background-color: #FA4845;
  margin-bottom: 15px;
}

#main-remeras .div1 h2, .div1 h2 {
  text-align: center;
  font-size: 50px;
}

#main-index section {
  display: flex;
  justify-content: space-between;
}

.div-hombre {
  display: flex;
  justify-content: space-evenly;
}

#div-produ3, #div-produ2, #div-produ1 {
  justify-items: center;
  align-items: center;
}

/*estilos para el header-index*/
header {
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header h1 {
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
header h1:first-letter {
  font-weight: bolder;
  color: red;
}
header h1 nav {
  height: 100px;
}

.combinado:hover {
  transform: rotate(360deg);
  transition: all 1s;
}

.animacion:hover {
  animation: logo 3s;
}

@keyframes logo {
  1% {
    background: rgb(229, 52, 52);
    background: -moz-radial-gradient(circle, rgb(229, 52, 52) 0%, rgb(0, 0, 0) 100%);
    background: -webkit-radial-gradient(circle, rgb(229, 52, 52) 0%, rgb(0, 0, 0) 100%);
    background: radial-gradient(circle, rgb(229, 52, 52) 0%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e53434",endColorstr="#000000",GradientType=1);
  }
  80% {
    transform: translateX(30px);
  }
}
/*estilos para el main-index*/
@media (max-width: 575px) {
  .div1 {
    height: 50px;
  }
}
@media (max-width: 575px) {
  .div1 h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
}

#main-index {
  background: url(/img/fondo.jpg);
  background-size: cover;
}
@media (max-width: 575px) {
  #main-index section {
    flex-direction: column;
    gap: 50px;
  }
}
#main-index section #div-index1 {
  height: 530px;
  font-size: 15px;
  background-color: transparent;
}
@media (max-width: 575px) {
  #main-index section #div-index1 {
    display: none;
  }
}
#main-index section #div-index1 img {
  border-radius: 75%;
}
#main-index section #div-index1 h5 {
  font-size: 20px;
  text-align: center;
}
#main-index section #div-index1 p {
  font-size: 18px;
}
#main-index section #div-index2 {
  background-color: transparent;
}
@media (max-width: 575px) {
  #main-index section #div-index2 {
    display: none;
  }
}
#main-index section #div-index2 img {
  border-radius: 75%;
}
#main-index section #div-index2 h5 {
  font-size: 20px;
  text-align: center;
}
#main-index section #div-index2 p {
  font-size: 18px;
}
#main-index section #div-index3 {
  background-color: transparent;
}
@media (max-width: 575px) {
  #main-index section #div-index3 {
    display: none;
  }
}
#main-index section #div-index3 img {
  border-radius: 75%;
}
#main-index section #div-index3 h5 {
  font-size: 20px;
  text-align: center;
}
#main-index section #div-index3 p {
  font-size: 18px;
}
#main-index aside {
  background-color: rgb(251, 158, 158);
  margin: 40 0 0 0;
}
@media (max-width: 575px) {
  #main-index aside {
    margin: 20px;
  }
}
#main-index aside p {
  font-size: 20px;
}
@media (max-width: 575px) {
  #main-index aside p {
    font-size: 15px;
  }
}
#main-index #div-mobile {
  display: none;
}
@media (max-width: 575px) {
  #main-index #div-mobile {
    display: flex;
    align-items: center;
  }
  #main-index #div-mobile div {
    display: flex;
    flex-direction: column;
  }
}

.card-div1 {
  background: rgb(180, 58, 58);
  background: -moz-linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(0, 0, 0) 57%);
  background: -webkit-linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(0, 0, 0) 57%);
  background: linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(0, 0, 0) 57%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a3a",endColorstr="#000000",GradientType=1);
}

.card-div2 {
  background-color: white;
  height: 100px;
}

.cardbutton {
  background-color: rgb(153, 87, 181);
  justify-self: center;
}

/*estilos para el footer index*/
footer {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 20px;
  background-color: rgb(118, 118, 248);
  padding: 5px;
  height: 200px;
}
@media (max-width: 575px) {
  footer {
    flex-direction: column;
    height: 130px;
    justify-content: center;
    gap: 0;
  }
}
footer .div-footer1 {
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 5px;
}
footer .div-footer2 {
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.footer-div1 {
  font-size: 35px;
}
@media (max-width: 575px) {
  .footer-div1 {
    font-size: 18px;
    font-weight: bold;
  }
}

.footer-div2 {
  padding: 10px;
  border: white 2px solid;
  background-color: black;
  color: white;
}
@media (max-width: 575px) {
  .footer-div2 {
    padding: 5px;
    font-size: 15px;
  }
}

/*estilos para main-hombre*/
#main-hombre {
  background: url(/img/fondo.jpg);
  background-size: cover;
}

@media (max-width: 575px) {
  .div1 {
    height: 50px;
  }
}
@media (max-width: 575px) {
  .div1 h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
}

#div2 .font-white {
  font-size: 30px;
}
@media (max-width: 575px) {
  #div2 .font-white {
    font-size: 20px;
  }
}

section {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}
section .ul-hombre li {
  color: white;
  font-size: 35px;
}
section .ul-hombre li:hover {
  transform: scale(1.5);
  transition: all 1.8s;
  background-color: rgb(255, 0, 0);
  border: 1px black solid;
}
@media (max-width: 575px) {
  section .ul-hombre li {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  section iframe {
    display: none;
  }
}

.font-white {
  color: white;
}

.h5-shorts {
  color: black;
}

.div-hombre {
  margin-top: 80px;
}
@media (max-width: 575px) {
  .div-hombre {
    display: none;
  }
}

.h3-hombre {
  font-size: 35px;
  margin: 20px;
  text-decoration: underline;
}
@media (max-width: 575px) {
  .h3-hombre {
    font-size: 20px;
    text-align: center;
  }
}

.div-hombre-mobile {
  display: none;
}
@media (max-width: 575px) {
  .div-hombre-mobile {
    display: flex;
    justify-content: space-evenly;
  }
}

.height {
  height: 350px;
}
@media (max-width: 575px) {
  .height {
    height: 200px;
  }
}

.backgroundcarousel {
  background: rgb(180, 58, 58);
  background: -moz-linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(0, 0, 0) 100%);
  background: -webkit-linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(0, 0, 0) 100%);
  background: linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a3a",endColorstr="#000000",GradientType=1);
}

#main-remeras {
  background: url(/img/fondo.jpg);
  background-size: cover;
}
@media (max-width: 575px) {
  #main-remeras .div1 {
    height: 50px;
  }
}
@media (max-width: 575px) {
  #main-remeras .div1 h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
}
#main-remeras p {
  text-align: left;
  padding: 15px;
}
#main-remeras #div-remeras {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px;
}
@media (max-width: 575px) {
  #main-remeras #div-remeras {
    justify-content: flex-start;
    gap: 40px;
  }
}
@media (max-width: 575px) and (max-width: 575px) {
  #main-remeras #div-remeras img {
    height: 200px;
    width: 150px;
  }
}
#main-remeras div {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 575px) {
  #main-remeras div img {
    height: 200px;
    width: 150px;
  }
}

.bg-color {
  background-color: rgba(186, 142, 142, 0.658);
}

/*aca empiezan las propiedades para productos destacados*/
/*grilla para remeras*/
#div-produ1 {
  background-color: rgb(0, 0, 0);
  height: 850px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "remeras r1 r2" "remeras r3 r4";
  gap: 20px;
}
@media (max-width: 575px) {
  #div-produ1 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 42% 43%;
    grid-template-areas: "remeras remeras" "r1 r2" "r3 r4";
    gap: 0;
    height: 600px;
  }
  #div-produ1 img {
    height: 200px;
    width: 150px;
  }
}
#div-produ1 .remeras {
  color: white;
  font-size: 70px;
  border: red 4px solid;
  grid-area: remeras;
}
@media (max-width: 575px) {
  #div-produ1 .remeras {
    font-size: 30px;
  }
}
#div-produ1 .r1 {
  grid-area: r1;
}
#div-produ1 .r2 {
  grid-area: r2;
}
#div-produ1 .r3 {
  grid-area: r3;
}
#div-produ1 .r4 {
  grid-area: r4;
}

/*grilla para pantalones*/
#div-produ2 {
  background-color: rgb(255, 0, 0);
  height: 850px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "p1 p2 pantalones" "p3 p4 pantalones";
  gap: 20px;
}
@media (max-width: 575px) {
  #div-produ2 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 42% 43%;
    grid-template-areas: "pantalones pantalones" "p1 p2" "p3 p4";
    gap: 0;
    height: 600px;
  }
  #div-produ2 img {
    height: 200px;
    width: 150px;
  }
}
#div-produ2 .pantalones {
  grid-area: pantalones;
  color: black;
  border: white 4px solid;
  font-size: 70px;
}
@media (max-width: 575px) {
  #div-produ2 .pantalones {
    font-size: 30px;
  }
}
#div-produ2 .pantalones .p1 {
  grid-area: p1;
}
#div-produ2 .pantalones .p2 {
  grid-area: p2;
}
#div-produ2 .pantalones .p3 {
  grid-area: p3;
}
#div-produ2 .pantalones .p4 {
  grid-area: p4;
}

/*grilla para shorts*/
#div-produ3 {
  background-color: rgb(0, 0, 0);
  height: 850px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "s1 shorts s2" "s3 shorts s4";
  gap: 20px;
}
@media (max-width: 575px) {
  #div-produ3 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 42% 43%;
    grid-template-areas: "shorts shorts" "s1 s2" "s3 s4";
    gap: 0;
    height: 600px;
  }
  #div-produ3 img {
    height: 200px;
    width: 150px;
  }
}
#div-produ3 .shorts {
  color: white;
  font-size: 70px;
  border: red 4px solid;
  grid-area: shorts;
}
@media (max-width: 575px) {
  #div-produ3 .shorts {
    font-size: 30px;
  }
}
#div-produ3 .s1 {
  grid-area: s1;
  justify-self: center;
}
#div-produ3 .s2 {
  grid-area: s2;
  justify-self: center;
}
#div-produ3 .s3 {
  grid-area: s3;
  justify-self: center;
}
#div-produ3 .s4 {
  grid-area: s4;
  justify-self: center;
}

.divform {
  background-color: rgb(241, 241, 241);
  height: 650px;
}
.divform p {
  font-size: 35px;
  text-align: center;
}

.displayflex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#p-preguntas div p {
  font-size: 25px;
}
@media (max-width: 575px) {
  #p-preguntas div p {
    font-size: 15px;
  }
}
#p-preguntas div h2 {
  font-size: 30px;
}
@media (max-width: 575px) {
  #p-preguntas div h2 {
    font-size: 20px;
  }
}
#p-preguntas div ol li {
  font-size: 25px;
}
@media (max-width: 575px) {
  #p-preguntas div ol li {
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  #p-preguntas .divform {
    height: 580px;
  }
}

/*# sourceMappingURL=style.css.map */
