$header-principal:(
    bg: red,
    margin: 20px 20px,
    border: 2px solid black,
    border-r: 10%
);
$main-index: (
    bg-size: cover,
    bg-color: rgb(251, 158, 158),
    height: 100px,
    margin: 40 0 0 0,
);