/*estilos para el footer index*/
footer{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: $size2 ; 
    @include footer ($color-footer, 5px, 200px);
    @media (max-width:575px){
        flex-direction: column;
        height: 130px;
        justify-content: center;
        gap: 0;
    }
    .div-footer1{ 
        background-color: transparent;
        display: flex;
        justify-content: center;
        gap: 5px;      
    }
    .div-footer2{
        background-color: transparent;
        display: flex;
        justify-content: center;
        gap: 5px;
    }   
}
.footer-div1{
    font-size: 35px;
    @media (max-width:575px){
        font-size: 18px;
        font-weight: bold;
    }
}
.footer-div2{
    padding: 10px;
    border: white 2px solid;
    background-color: black;
    color: white;
    @media (max-width:575px){
        padding: 5px;
        font-size: 15px;
    }
}

