.divform{
    background-color: rgb(241, 241, 241);
    height: 650px;
    p{
        font-size: 35px;
        text-align: center;
    }
}
    
.displayflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
