/*estilos para el header-index*/
header{
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    h1{
       font-size: calc( $small / 1.5 );
       font-family:'Victor Mono', monospace;
        &:first-letter{
        font-weight: bolder;
        color: red;
       } 
    a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 500px;
    }   
    nav{
        height: ($smaller*2);      
    }
}
}
.links-reales{
    color: blue;
}
.combinado:hover{
        transform: rotate(360deg);
        transition: all 1s;
    }
.animacion:hover{
    animation: logo 3s;
}   
@keyframes logo{
    1%{       
    background: rgb(229,52,52);
    background: -moz-radial-gradient(circle, rgba(229,52,52,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(229,52,52,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, rgba(229,52,52,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e53434",endColorstr="#000000",GradientType=1);  
    }
    80%{
        transform: translateX(30px);
    }
}
.a{
    font-family: 'Tektur', cursive;
}
.button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    border: red 2px solid;
    background-color: rgb(0, 0, 0);
    &:hover{
        background-color: red;
        border: black 2px solid;
        color: black;
    }
}
