/*estilos para el header-index*/
header{
    margin: 0;
    h1{
       font-size: 50px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
        &::first-letter{
        font-weight: bolder;
        color: red;
       }     
    }
    nav{       
        padding: 2px;
        ul{
            display: flex;
            justify-content: space-between;           
            list-style-type: none;            
            li{ 
                font-size: 15px;          
            }
        }
    }
  
}
