/*aca empiezan las propiedades para productos destacados*/

/*grilla para remeras*/
#div-produ1{
    @include DivProdDest(rgb(0, 0, 0), 850px);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "remeras r1 r2"
    "remeras r3 r4";
    gap: 20px;
    @extend %grid;
    @media (max-width: 575px){
        img{
            height: 200px;
            width: 150px;
        }
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 42% 43%;
        grid-template-areas:
        "remeras remeras"
        "r1 r2"
        "r3 r4";
        gap: 0;
        height: 600px;
        }
    .remeras{
        color: $colorwhite;
        font-size: 80px;
        border: red 4px solid;
        grid-area: remeras;
        @media (max-width: 575px){
            font-size: 30px;
        }
    }
    .r1{
        grid-area: r1;
    }
    .r2{
        grid-area: r2;
    }
    .r3{
        grid-area: r3;
    }
    .r4{
        grid-area: r4;
    }  
}
/*grilla para pantalones*/

#div-produ2{
    @include DivProdDest(rgb(255, 0, 0),850px);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "p1 p2 pantalones"
    "p3 p4 pantalones";
    gap: 20px;
    @extend %grid;
    @media (max-width: 575px){
        img{
            height: 200px;
            width: 150px;
        }
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 42% 43%;
        grid-template-areas:
        "pantalones pantalones"
        "p1 p2"
        "p3 p4";
        gap: 0;
        height: 600px;
    }
    .pantalones{
        grid-area: pantalones;
        color: nth($list-colors, 4 );
        border: nth($list-colors, 5 ) 4px solid;
        font-size: 80px;
        @media (max-width: 575px){
            font-size: 30px;
        }
        
    .p1{
        grid-area: p1;
    }
    .p2{
        grid-area: p2;
    }
    .p3{
        grid-area: p3;
    }
    .p4{
        grid-area: p4;
    }
  }
}
/*grilla para shorts*/
#div-produ3{
    @include DivProdDest(rgb(0, 0, 0),850px);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "s1 shorts s2"
    "s3 shorts s4";
    @extend %grid;
    gap: 20px;
    @media (max-width: 575px){
        img{
            height: 200px;
            width: 150px;
        }
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 42% 43%;
        grid-template-areas:
        "shorts shorts"
        "s1 s2"
        "s3 s4";
        gap: 0;
        height: 600px;
    }
    .shorts{
        color: $colorwhite;
        font-size: 80px;
        border: map-get($header-principal, bg) 4px solid;
        grid-area: shorts;
        @media (max-width: 575px){
            font-size: 30px;
        }
    }
    .s1{
        grid-area: s1;
        justify-self: center;
    }
    .s2{
        grid-area: s2;
        justify-self: center;
    }
    .s3{
        grid-area: s3;
        justify-self: center;
    }
    .s4{
        grid-area: s4;
        justify-self: center;
    }
}
