/*estilos para main-hombre*/
#main-hombre{ 
    background: nth($list-colors , 4);
    background-size: cover;
}
.div1{
    @extend %DivPrincipal;
    @media (max-width: 575px){
        height: nth($list-sizepx, 10 );
    }
    h2{
        @extend %h2Principal;
        @media (max-width: 575px){
            font-size: nth($list-sizepx, 6 );
            margin-bottom: 0;
        }        
   }
}
#div2{
    
    .font-white{
        font-size: 30px;
        @media (max-width: 575px){
            font-size: 20px;
        }
    }
}
section{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    .ul-hombre{   
        li{
            color: white;
            font-size: 35px;
            &:hover{
                transform: scale(1.5);
                transition: all 1.8s;
                background-color: rgb(255, 0, 0);
                border: 1px black solid;
            }
            @media (max-width: 575px){
            font-size: 30px;       
            }
        }
    }    
    iframe{
        @media(max-width: 575px){
            display: none;
         }
    }
}

.font-white{ 
    color: $colorwhite;
}

.h5-shorts{
    color: black;
}    


.div-hombre{
    @extend %flexevenly;
    margin-top: 80px;
    @media (max-width:575px){
        display: none;
    }
}
.h3-hombre{
    font-size: 35px;
    margin: 20px;
    text-decoration: underline;
    @media(max-width: 575px){
        font-size: 20px;
        text-align: center;
     }
}
.div-hombre-mobile{
    display: none;
    @media (max-width:575px){
        display: flex;
        justify-content: space-evenly;
    }
}    
.height{
    height: 350px;
    @media (max-width:575px){
        height: 200px;
    }
}
.backgroundcarousel{
    background: rgb(180,58,58);
background: -moz-linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a3a",endColorstr="#000000",GradientType=1);
}
