/*estilos para main-hombre*/
.h3-hombre{
    font-size: 40px;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.font-white{ 
    color: white;
}
#section-hombre{
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 350px 300px;
    grid-template-areas: 
    "ul iframe"
    "cl cl";
    @media(max-width: 575px){
        display: flex;
        flex-direction: column;
    }
}
.ul-hombre{
    grid-area: ul;
    li{
        color: white;
        font-size: 35px;
    }
}
.iframe-hombre{
    grid-area: iframe;
    @media(max-width: 575px){
        display: none;
     }
}
.carousel{
    grid-area: cl;
}
.h5-shorts{
    color: black;
}    

.carousel1{
    display: flex;
    justify-content: center;
}
.div-hombre{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    @media (max-width:575px){
        display: none;
    }
}
.h4-hombre{
    font-size: 35px;
    margin: 20px;
    text-decoration: underline;
    @media(max-width: 575px){
        font-size: 20px;
        text-align: center;
     }
}
.div-hombre-mobile{
    display: none;
    @media (max-width:575px){
        display: flex;
        justify-content: space-evenly;
    }
}
