/*estilos para el main-index*/
body{
    background-size: cover;
}
#div1{
    height: 100px;
    background-color:red;
    margin-bottom: 15px; 
    @media (max-width: 575px){
        height: 50px;;
    }
    h2{
        font-size: 50px;
        color: black;
        text-align: center;
        @media (max-width: 575px){
            font-size: 30px;
            margin-bottom: 0;
        }        
   }
}
#main-index{ 
        section{
            display: flex;
            justify-content: space-between;
            @media (max-width:575px){
                flex-direction: column;
                
                gap: 50px;
            }
            #div-index1{
                height: 530px;
                font-size: 15px;
                background-color:transparent;
                @media (max-width:575px){
                    display: none;
                }
                img{ 
                    border-radius: 75%;
                }  
                h5{
                    font-size: 20px;
                    text-align: center;
                }  
                p{
                    font-size: 18px;
                }           
            }  
        
            #div-index2{
                background-color: transparent;                
                @media (max-width:575px){
                    display: none;
                }    
                img{ 
                    border-radius: 75%;
                }
                h5{
                    font-size: 20px;
                    text-align: center;
                }  
                p{
                    font-size: 18px;
                }           
            }

            #div-index3{
                background-color: transparent;                
                @media (max-width:575px){
                    display: none;                    
                }    
                img{ 
                    border-radius: 75%;
                }
                h5{
                    font-size: 20px;
                    text-align: center;
                }  
                p{
                    font-size: 18px;
                }           
            }    
        }
        aside{
            background-color: lightblue;
            margin: 40px 0 0 0;
        }
        #div-mobile{
            display: none;            
            @media (max-width:575px){
                display: flex;
                align-items: center;
                div{
                    display: flex;
                    flex-direction: column;
                    
             }
            }
        }
}
.card-div{
    background-color: white;
    height: 100px;
}
.cardbutton{
    background-color: rgb(153, 87, 181);
    align-items: center;
}    

