/*estilos para el main-index*/
.div1{
    @extend %DivPrincipal;
    @media (max-width: 575px){
        height: nth($list-sizepx, 10 );
    }
    h2{
        @extend %h2Principal;
        @media (max-width: 575px){
            font-size: nth($list-sizepx, 6 );
            margin-bottom: 0;
        }        
   }
}
#main-index{ 
        background: nth($list-colors , 4 );
        background-size: cover;
        section{
           @extend %flexbetween;
            @media (max-width:575px){
                flex-direction: column;               
                gap: 50px;
            }
            #div-index1{
                height: 530px;
                font-size: 15px;
                background-color:transparent;
                @media (max-width:575px){
                    display: none;
                }
                img{ 
                    border-radius: 75%;
                }  
                h5{
                    font-size: 20px;
                    text-align: center;
                }  
                p{
                    font-size: 18px;
                }           
            }  
        
            #div-index2{
                background-color: transparent;                
                @media (max-width:575px){
                    display: none;
                }    
                img{ 
                    border-radius: 75%;
                }
                h5{
                    font-size: 20px;
                    text-align: center;
                }  
                p{
                    font-size: 18px;
                }           
            }

            #div-index3{
                background-color: transparent;                
                @media (max-width:575px){
                    display: none;                    
                }    
                img{ 
                    border-radius: 75%;
                }
                h5{
                    font-size: 20px;
                    text-align: center;
                }  
                p{
                    font-size: 18px;
                }           
            }    
        }
        aside{
            background-color: map-get($main-index , bg-color );
            margin: map-get($main-index, margin);
            @media (max-width: 575px){
                margin: 20px;
            }
            p{
            font-size: $size2;
            @media (max-width:575px){
                font-size: nth($list-sizepx , 3);
            }
            }
            
        }
        #div-mobile{
            display: none;            
            @media (max-width:575px){
                display: flex;
                align-items: center;
                div{
                    display: flex;
                    flex-direction: column;
                    
             }
            }
        }
}
.card-div1{
    background: rgb(180,58,58);
background: -moz-linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(0,0,0,1) 57%);
background: -webkit-linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(0,0,0,1) 57%);
background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(0,0,0,1) 57%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a3a",endColorstr="#000000",GradientType=1);
}
.card-div2{
    background-color: white;
    height: 100px;
}
.cardbutton{
    background-color: rgb(153, 87, 181);
    justify-self: center;
}    



