#main-remeras{
        background: nth($list-colors , 4);
        background-size: cover;
    .div1{
        @extend %DivPrincipal;
        @media (max-width: 575px){
            height: nth($list-size, 2);
        }
        h2{
            @extend %h2Principal;
            @media (max-width: 575px){
                font-size: nth($list-sizepx, 6 );
                margin-bottom: 0;
            }        
       }
    }
        p{
            text-align: left;
            padding: nth($list-sizepx , 3);
        }
        #div-remeras{ 
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: ($smaller*2);   
            @media (max-width: 575px){
                justify-content: flex-start;
                gap: 40px;
                img{
                    @media (max-width:575px){
                        height: 200px;
                        width: 150px;
                    }
                }
            }           
        }
        div{
            display: flex;
            justify-content: space-evenly;
            @media (max-width:575px){
                img{
                    height: 200px;
                    width: 150px;
                }
            }
        }   h3{
            color: white;
        } 
}        
